@import "../variables.scss";
.loaderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     img{
        display: block;
     animation: rotateScale 2s ease-in-out infinite backwards;
     width: 25px;
     height: 25px;
     margin-bottom: 10px;
    }

    .loadertext{
     color: $blue;
    }
}
@keyframes rotateScale{
    0%{
        transform: scale(1) rotate(0);
    }
    100%{
        transform: scale(1.1) rotate(360deg);
    }
  } 