@import "../variables.scss";
.table_modal{
cursor: pointer;
position: relative;
    & .absoluteChild{
        background: #FFFFFF;
        border: 1px solid rgba(84, 95, 125, 0.04);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        position: absolute;
        width: 180px;
        height: 130px;
        left: -150px;
        z-index: 5;

        @include medium{
            left: -100px;
        }

        & li{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $fadedblue;
            padding: 10px;
            cursor: pointer;

            &:hover{
                background-color: $fadedgreen;
                border-left: 2px solid $green;
                transition: .4s all ease-in;
            }

             & span {
                margin-left: 5px;
             }
        }
    }
}