@use "../variables.scss" as *;


.authContainer{
    width: 100%;
    height: 100vh;
    padding: 40px 70px;
    color: $white;

    @include medium{
        padding: 40px 20px;
    }
    @include large{
        padding: 40px;
    }
    .authHeader{
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }
     .authBody{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include medium{
            flex-direction: column;
        }

        & .authImageContainer{
          width: 50%;
          @include medium{
            width: 100vw;
          }
          & img{
            margin: auto;
            width: 100%;
            object-fit: cover;
          }
        }

        .authFormContainer{
            width: 50%;
            padding: 20px 40px;
            @include medium{
                width: 100%;
                padding: 20px 0;
            }
            & h1{
                font-family: $avenir;
                color: $blue;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 55px;
                margin-bottom: 10px;
/* identical to box height */

letter-spacing: -0.04em;
            }
            & p{
                font-family: $avenir;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                color: $fadedblue;
            }
        & form{
            padding-top: 40px;
            width: 100%;
            & input[type = "text"]{
                background: #FFFFFF;
                border: 2px solid rgba(84, 95, 125, 0.15);
                border-radius: 5px;
                padding: 10px 20px;
                width: 100%;
                display: block;
                margin-bottom: 15px;
                &:focus{
                    outline: 1px solid $lightgreen;
                }
            }
            & .inputPassword{
                position: relative;
                width: 100%;
                margin-bottom: 15px;
                & input{
                    background: #FFFFFF;
                    border: 2px solid rgba(84, 95, 125, 0.15);
                    border-radius: 5px;
                    padding: 10px 20px;
                    width: 100%;
                    height: 100%;
                    display: block;

                    &:focus{
                        outline: 1px solid $lightgreen;
                    }
                }

                & button{
                    position: absolute;
                    right: 10px;
                    background-color: transparent;
                    font-weight: 600;
                    font-size: 12px;
                    color: $lightgreen;
                    border: none;
                    font-family: $avenir;
                    top: 40%;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                     cursor: pointer;
                }
            }
            .forgotpwd{
                cursor: pointer;
                font-family: $avenir;
font-style: normal;
color: $lightgreen;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */

text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;
display: block;
background-color: transparent;
border: none;
margin-bottom: 20px;
margin-top: 10px;
            }
        .authSubmitBtn{
            background-color: $lightgreen;
            border: 8px;
            width: 100%;
            margin: 10px auto;
            border: none;
            padding: 10px;
            text-align: center;
            color: $white;
            cursor: pointer;
        }
        }
        }
    }
}