@import "../variables.scss";
.dashboard{
    width: 100w;
    height: 100vh;
    position: relative;

    .dashboardHeader{
        width: 100%;
        height: 4rem;
        position: fixed;
        top: 0;
        z-index: 3;
    }
    .dashboardSplitView{
        position: relative;
        display: flex;
        margin-top: 4.2rem;


        .dashboardContent{
         width: 100%;
            padding: 40px;

            @include medium{
                padding: 40px 20px;
            }

                & h1{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 32px;
                    color: $blue;
                }

               & .dashboard_top{
                    display: flex;
                    gap: 30px;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 40px 0;

                    @include medium{
                      justify-content: center;
                    }
                }
        }
    }
    & .tablecontainer{
        position: relative;
    }
    .dashboardBottom{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 40px 0;

        @include intermediary{
            flex-direction: column-reverse;
            align-items: center;
           
        }
        & .show_details{
            color: $fadedblue;
            font-style: normal;
            line-height: 16px;

            @include intermediary{
                font-size: 18px;
                width: 100%;
                text-align: center;
            }
            & .show_detail_icon{
                background: #213f7d1a;
                border-radius: 4px;
                color: $blue;
                display: inline-flex;
                align-items: center;
                gap: 10px;
                font-size: 16px;
                padding: 5px 10px;
                margin: 0 10px;
            }
        }
        & .pagination{
            display: flex;
            justify-content: space-evenly;
            width: 30%;
            color: $fadedblue;

            @include intermediary{
                width: 100%;
                margin-bottom: 20px;
            }

            & .page-next, .page-prev{
                background: #213f7d1a;
                border-radius: 4px;
                color: $blue;
                padding: 5px;
                cursor: pointer;
            }

            & .page-active{
                color: $green;
            }
          
        }

       
    }
}
.errorMessage{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 20px;
    color: $red;

    & p:last-child{
        color: $blue;
        text-decoration: underline;
        cursor: pointer;
    }
}
